.div1  {           margin-left: 35px;   padding: 5px;                }

.div01 {      margin-left:511px;    margin-top: 30px;               } 	
 
 
.table0{  border:solid;    margin: 10px;	padding: 10px;	background: #ddffbb;  }

.table1 th{ border:solid;  margin: 5px; padding: 5px;  background: #ffb997;  }

.table1 td{ border: 3px double ;        padding: 9px;  background: #b9b9ff;          }

.table3{ margin-left: 20px;       margin-top : 30px;}

	body {  background: #e2fefd;  }

