.div1 {   margin-left: 35px;   padding: 5px;  }

.div2{     margin: 10px;       padding: 10px  }

.div01    { margin-left:320px;   margin-top: 70px;  } 	
 
 
.table0{    border:solid;        margin: 10px;  padding: 10px; background: #9191ff;   }

.table1 th{ border: solid;       margin: 5px;   padding: 5px;  background: #ffb366;   }

.table1 td{ border: 3px double ; margin: 22px;  padding: 5px;  background: #cdcdcd;   }

.table3{   margin-left: 200px;}

	body { background: #ffffff;}

.table4{margin-left: 1160px;  margin-top: 260px;}